/* colours 
#DFD0BB
#E5BD77
#CC7952
#943D2C
#474344
*/

body {
    background-color: #DFD0BB;
    margin: 0;
    /* padding: 1rem 0rem 1rem 0rem; */
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

main {
    flex-grow: 1;
}

h1, h2, h3, p  {
    font-family: "Ubuntu";
}

header {
    background-color: #474344;
    color: #E5BD77;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1.5em;
    min-height: 6rem;
}

header .container {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex-grow: 1;
}

header a {
    color: #E5BD77;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;  
}

.container {
    /* background-color: rgba(255, 255, 255, 0.2); */
    max-width: 1600px;
    min-width: 480px;
    margin: 0 auto;
}

.media-details-container {
    border: 3px solid #fff;
    /* padding: 20px; */
    display: flex;
    margin: 3rem 0rem 3rem 0rem;
}

.media-details {
    flex: 1;
    padding: 20px;
    border: 2px solid red;
}

footer {
    background-color: #943D2C;
    color: #E5BD77;
    margin-top: auto;
    min-height: 8rem;
}

footer .container {
    display: flex;
    align-content: stretch;
}

h1, h2, h3, p {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.2rem 1rem;
}


ul.media_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
    justify-content: center;
}

ul.media_list li.media {
    flex-basis: 19rem;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
   
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

ul.media_list li.media img {
    display: block;
    max-width: 100%;
}

.text-over-poster {
    position: absolute;
    bottom: 20px;
    }
h3 {
    background-color: #474344;
    color:#DFD0BB
}
ul.media_list li.media h3 {
    margin-top: 0;
}

.add-to-watchlist {
    color: #DFD0BB;
    background-color: #943D2C;
    float: right;
    font-size: 1.5em;
    padding: 1rem;
}

.watchlist-item {
    margin: 0.5rem;
    display: flex;
}

.watchlist-item a {
    text-decoration: none;
    /* display: block; */
    /* padding: 2rem 0.5rem 2rem; */
}
.watchlist-info {
    margin: 0.5rem;
    /* float: left; */
    flex: 1;
}
/* colours 
#DFD0BB
#E5BD77
#CC7952
#943D2C
#474344
*/
.watchlist-item img {
    max-width: 5rem;
    /* display: block; */
    /* float: left; */
    /* margin-right: 0.5rem; */
    /* border-radius: 0.5rem; */
}