<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MOvie db {{ block.super }} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'movie_app/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu" />
</head>
<body>
    <header>
        <div class="container">
            {% block nav %}
            <a href="{% url 'home_page' %}">HOME</a>
            <a href="{% url 'media_list' %}">MOVIES</a>
            {% endblock nav %}
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %} 
            {% endblock content %}
        </div>
    </main>
    <footer>
        <div class="container">
            {% block footer %} <p> footer goes here</p>{% endblock footer %}
        </div>
        
    </footer>
</body>
</html>