{% extends 'movie_app/base.html' %}
{% load static %}
{% block title %} {{object}} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="media-details-container">
        <div class="media-details">
            {% if object.poster %}
              <img src="{{object.poster.url}}">
            {% else %}
              <img src="{%  static 'movie_app/img/no_poster.jpg' %}">
            {% endif %}
        </div>
        <div class="media-details media-backg">
            {% if in_watchlist %}
                <p><a class="add-to-watchlist" href="{% url 'watchlist' %}">In your watchlist</a></p>
            {% else %}
                <p><a class="add-to-watchlist" href="{% url 'user_watchlist_create' object.pk %}">Add to your watchlist</a></p>
            {% endif %}
            <h1>{{ object.name }} </h1>
            {% if object.release_date %}<h2>Release date {{ object.release_date }}</h2>{% endif %}
            {% if object.score %}<h2>Score {{ object.score }}</h2>{% endif %}
            {% if object.convert_time %}<h2>Duration {{ object.convert_time }} </h2>{% endif %}
            {% if object.pg_rating%}<h2>Rated {{ object.pg_rating }}</h2>{% endif %}
            {% if object.tagline %}<h2>Tagline: {{ object.tagline }}</h2>{% endif %}
            {% if object.budget %}<h2>Budget - {{ object.budget}}$</h2>{% endif %}
            {% if object.box_office %}<h2>Box office - {{ object.box_office }}$</h2>{% endif %}
            {% if object.summary %}<h2>Summary: {{ object.summary }}</h2>{% endif %}
            {% if object.cast_crew.count %}
            <h3> Cast and Crew </h3>
            <ul>
            {% for castcrew  in object.cast_crew.all %}
                <li>  {{castcrew.role}} <a class="cast" href="{% url 'person' castcrew.person.pk %}" > {{ castcrew.person }}</a> </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% if object.company.count %}
            <h3> Produced by</h3>
                <ul>
                {% for company  in object.company.all %}
                    <li>  <a class="cast" href="{% url 'company' company.pk %}"> {{ company }}</a> </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if object.location.count %}
            <h3>Filming locations</h3>
                <ul>
                {% for location  in object.location.all %}
                    <li> {{ location }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if object.language.count %}
            <h3>Languages</h3>
                <ul>
                {% for language  in object.language.all %}
                    <li> {{ language }}</li>
                {% endfor %}
                </ul>
                {% endif %}

            </div>
    </div>
    <div class="series">
        {% if object.is_series == True %}
            <ul>
                {% for season in object.seasons.all %}
                <li>
                    <h3> Season {{ season.number }}</h3>
                        <ul>
                            {% for episode in season.episodes.all %}
                                <li>S{{ season.number }}E{{ episode.number }} - {{ episode.name }}<li>
                            {% endfor %}
                        </ul>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="comment-form">
        <h3>You can leave a comment here:</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit"> Add a comment </button>
        </form>    
    </div>
    {% endif %}
    {% if object.comments.count %}
    <h2> COMMENTS </h2>
        {% for comment in object.comments.all%}
            <div class="media-comment">
                <h4> {% if comment.comment_author.profile.photo %}
                    <img src="{{ comment.comment_author.profile.photo.url}}">
                    {% endif %}
                {{ comment.comment_author }} 
                    <span class="float-right"> {{ comment.created_at }}</span></h4>
                <p>{{ comment.comment }} </p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}