{% extends 'movie_app/base.html' %}
{% load static %}
{% block title %} {{media}} {{ block.super }} {% endblock title %}
{% block content %}
<h1>{{media}} </h1>
    <div class="media-details-container">
        <div class="media-details">
            {% if media.poster %}
              <img src="{{media.poster.url}}">
            {% else %}
              <img src="{%  static 'movie_app/img/no_poster.jpg' %}">
            {% endif %}
        </div>

        <div class="media-details">
            <h1>{{ media.name }} </h1>
            <h2>{{ media.release_date }}</h2>
            <h2>{{ media.score }}</h2>
            <h2>{{ media.duration }} mins</h2>
            <h2>{{ media.pg_rating }}</h2>
            <h2>{{ media.tagline }}</h2>
            <h2>{{ media.budget}}</h2>
            <h2>{{ media.box_office }}</h2>
            <h2>{{ media.summary }}</h2>
            <p> Cast and Crew <p>
            <ul>
            {% for castcrew  in media.cast_crew.all %}
                <li>  <a href="{% url 'person' castcrew.person.pk %}"> {{ castcrew.person }}</a> </li>
            {% endfor %}
            {% for person in person.cast_crew.all %}
                <li>  <a href="{% url 'person' person.pk %}"> {{ person }}</a> </li>
                {% endfor %}
            </ul>
            <p> Produced by <p>
                <ul>
                {% for company  in media.company.all %}
                    <li>  <a href="{% url 'company' company.pk %}"> {{ company }}</a> </li>
                {% endfor %}
                </ul>
            <p> Filming locations <p>
                <ul>
                {% for location  in media.location.all %}
                    <li> {{ location }}</li>
                {% endfor %}
                </ul>
            <p> Languages <p>
                <ul>
                {% for language  in media.language.all %}
                    <li> {{ language }}</li>
                {% endfor %}
                </ul>


        </div>
    </div>
    <div>
        {% if media.is_series == True %}
            <ul>
                {% for season in media.seasons.all %}
                <li>
                    <h3> Season {{ season.number }}</h3>
                        <ul>
                            {% for episode in season.episodes.all %}
                                <li> {{ episode }} <li>
                            {% endfor %}
                        </ul>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}