{% extends 'movie_app/base.html' %}
{% block title %}Adding to watchlist {{ block.super }}{% endblock title %}
{% block content %}
<h1>Adding to watchlist</h1>
<div class="confirmation-message">
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Are you sure you want to add this entry {{ object.media.name }} to your watchlist?</p>
    <div class="confirmation-message-buttons">
    <button type="submit" class="button">YES</button>
    <button class="button" href="{% url 'watchlist' %}">NO</button>
    </div>
</form>
</div>
{% endblock content %}